<% provide(:title, "Edit Profile") %>
<% provide(:button_text, "Update Account") %>
<%= render 'shared/user_nav', medi: false %>
<h1 class="ui header title">Edit Profile</h1>
<div class="row">
	<%= render 'form' %>
</div>