<% provide(:title, "Vaccine Records") %>
<% provide(:button_text, "Register New Vaccine") %>

<%= render 'shared/user_nav', medi: true %>

<div class="row" style="margin-top: 2em;">
	<h4 class="ui horizontal divider header">
	  <i class="teal first aid icon"></i>
	  Existing Vaccine Records
	</h4>
</div>

<div class="row" style="margin-bottom: 3em;">
		<% if @vaccine_records.empty? %>
			<div class="ui card">
				<div class="content">
					<div class="header">Ooops!</div>
					<div class="description">
						<p>You haven't recorded any vaccine with us.</p>
						<p>Register your vaccines today by filling out the form below!</p>
					</div>
				</div>
			</div>
		<% else %>
			<div class="ui cards">
			<% @vaccine_records.each do |vaccine_record| %>
					<div class="card">
						<div class="content">
							<div class="header"><%= link_to vaccine_record.vaccine.name, edit_users_vaccine_url(vaccine_record) %></div>
							<div class="description">
								This vaccine was administered on <%= vaccine_record.inject_time %>.
							</div>
						</div>
					</div>
			<% end %>
			</div>
		<% end %>
	</div>

<div class="row">
	<h4 class="ui horizontal divider header">
	  <i class="teal plus icon"></i>
	  Register New Vaccine
	</h4>
</div>

<div class="row">
	<%= render 'vaccines/form', url: user_users_vaccines_url(@user) %>
</div>
